﻿@model _2_Parcia_Integracion.Models.ActivosFijos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivosFijos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoID" class="control-label"></label>
                <select asp-for="DepartamentoID" class ="form-control" asp-items="ViewBag.DepartamentoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_ActivoID" class="control-label"></label>
                <select asp-for="Tipo_ActivoID" class ="form-control" asp-items="ViewBag.Tipo_ActivoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Registro" class="control-label"></label>
                <input asp-for="Fecha_Registro" class="form-control" />
                <span asp-validation-for="Fecha_Registro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_Compra" class="control-label"></label>
                <input asp-for="Valor_Compra" class="form-control" />
                <span asp-validation-for="Valor_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depreciacion_Acumulada" class="control-label"></label>
                <input asp-for="Depreciacion_Acumulada" class="form-control" />
                <span asp-validation-for="Depreciacion_Acumulada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
