﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

    <p class="my-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Cum sociis natoque penatibus et magnis dis parturient montes. Consequat semper viverra nam libero justo laoreet. Lacinia quis vel eros donec ac odio tempor orci. Tortor consequat id porta nibh venenatis. Id leo in vitae turpis massa sed elementum. Varius morbi enim nunc faucibus a pellentesque sit amet. Ipsum dolor sit amet consectetur adipiscing elit duis. Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Urna condimentum mattis pellentesque id nibh tortor id. Sed tempus urna et pharetra pharetra. Malesuada proin libero nunc consequat interdum varius sit amet mattis. In mollis nunc sed id semper. Enim lobortis scelerisque fermentum dui. Natoque penatibus et magnis dis parturient montes.
    </p>
</div>

<hr />

<div class="row mt-5">
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/enterprise.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="Departamentoes" asp-action="Index">Departamentos</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/employee.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/cargo.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="TipoDeActivoes" asp-action="Index">Tipos de Activos</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/assets.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="ActivosFijos" asp-action="Index">Activos Fijos</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/depreciation.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="Depreciacions" asp-action="Index">Depreciacion</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <img class="float-left card-img-top" src="~/img/cargo.svg" alt="Employee image cap" style="height:75px;">
                <h5 class="card-title text-center">
                    <a class="text-dark" asp-controller="" asp-action="">Asiento Contable</a>
                </h5>
                <hr />
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

<style scoped>
    body {
        background-image: linear-gradient(to bottom, #ffffff 10%, #9EE0FF );
    }
</style>