﻿@model _2_Parcia_Integracion.Models.Depreciacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Depreciacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activo_FijoID" class="control-label"></label>
                <z asp-for="Activo_FijoID" class="form-control" />
                <span asp-validation-for="Activo_FijoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Proceso" class="control-label"></label>
                <input asp-for="Fecha_Proceso" class="form-control" />
                <span asp-validation-for="Fecha_Proceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moto_Depreciado" class="control-label"></label>
                <input asp-for="Moto_Depreciado" class="form-control" />
                <span asp-validation-for="Moto_Depreciado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deprecion_Acumulada" class="control-label"></label>
                <input asp-for="Deprecion_Acumulada" class="form-control" />
                <span asp-validation-for="Deprecion_Acumulada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuenta_Compra" class="control-label"></label>
                <input asp-for="Cuenta_Compra" class="form-control" />
                <span asp-validation-for="Cuenta_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuenta_Depreciacion" class="control-label"></label>
                <input asp-for="Cuenta_Depreciacion" class="form-control" />
                <span asp-validation-for="Cuenta_Depreciacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#dateYearPicker").datepicker( {
            format: "mm-yyyy",
            startView: "months", 
            minViewMode: "months"
        });
    </script>
}
